body {
    background-image: url("Assets/laser.jpg");
    background-repeat: no-repeat;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    border: solid;
    border-color: white;
    border-radius: 25px;
    box-shadow: 5px 10px #888888;
    background-color: rgb(223, 230, 39);
    padding: 25px;
    width: 200px;
    text-align: center;
    opacity: 80%;
   

}

input::placeholder {
    font-size: 17px;
    font-weight: bolder;
    color: rgb(65, 16, 191);
}

h1 {
    text-shadow: 2px 2px rgb(19, 25, 191);
}